body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

article {
	border-bottom: 1px solid lightgray;
	padding-bottom: 10px;
}

nav.navbar {
	margin-bottom: 3rem;
}

.margin-bottom {
	margin-bottom: 2rem;
}

.margin-top {
	margin-top: 4rem;
}

.comments li {
	margin-bottom: 2rem;
	border: 1px dashed lightgray;
	padding: 1rem;
}

.logo {
	width: 100%;
}